<body style="background-image: url('@Url.Content("~/images/patbg.jpg")');">
    <h1 style="color: white;" class="text-center">Patient's Dashboard</h1>
    <hr />
    <br />
    <br />
    <br />
    <div class="text-center">
        <a href="/Doctors/"><i class="fas fa-user-md fa-10x" style="color: white;"></i></a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  
        <a href="/Patients/ViewConsultations"> <i class="fas fa-print fa-10x" style="color: white;"></i></a>
    </div>

</body>