@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body style="background-image: url('@Url.Content("~/images/Heartbeat.jpg")')">
    <div class="text-center">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="display-4" style="color: white;"><i class="fab fa-contao"></i>lini<i class="fab fa-contao"></i>a</h1>
        <br />
        <br />
        <br />
        <h4 style="color: white;">"Manage your Clinic Remotly"</h4>
        <br />
        <br />
        <p style="color: white;">Coded by Noura Joudieh and Hamza Jadid</p>
    </div>
</body>