@model Clinica.Models.Consultation
@using Clinica.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject SignInManager<ClinicaUser> SignInManager
@inject UserManager<ClinicaUser> UserManager
@inject ApplicationDbContext context

@{
    ViewData["Title"] = "Create";
    var roles = await context.Roles.Where(r => r.Name.Contains("Patient")).ToListAsync();
    var Usernames = new List<string>();
    var UserRole = new List<IdentityUserRole<string>>();
    foreach (var role in roles)
    {
        UserRole = await context.UserRoles.Where(u => u.RoleId == role.Id).ToListAsync();
    }
    foreach (var userRole in UserRole)
    {
        var username = await context.Users.Where(u => u.Id == userRole.UserId).FirstOrDefaultAsync();
        Usernames.Add(username.UserName);
    }
    ViewData["Patients"] = new SelectList(Usernames);

    var Conroles = await context.Roles.Where(r => r.Name.Contains("Doctor")).ToListAsync();
    var ConUsernames = new List<string>();
    var ConUserRole = new List<IdentityUserRole<string>>();
    foreach (var role in Conroles)
    {
        ConUserRole = await context.UserRoles.Where(u => u.RoleId == role.Id).ToListAsync();
    }
    foreach (var userRole in ConUserRole)
    {
        var Conusername = await context.Users.Where(u => u.Id == userRole.UserId).FirstOrDefaultAsync();
        ConUsernames.Add(Conusername.UserName);
    }
    ViewData["Doctors"] = new SelectList(ConUsernames);

}

<h1>Create</h1>

<h4>Consultation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.Patients"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.Doctors"></select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptoms" class="control-label"></label>
                <input asp-for="Symptoms" class="form-control" />
                <span asp-validation-for="Symptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodPressure" class="control-label"></label>
                <input asp-for="BloodPressure" class="form-control" />
                <span asp-validation-for="BloodPressure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment" class="control-label"></label>
                <input asp-for="Treatment" class="form-control" />
                <span asp-validation-for="Treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
